
 body{
    margin: 0;
    padding: 0;
    font-size: 1.25vw;
    height: 100%;

 }
#map-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 300px;
}
canvas {
    width: 100%;
    height: 100%;
}
.navbar--container{
    position: relative;
    display: flex;
    width: 100%;
    height: 4em;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f3ef;
    z-index: 1;
}
.navbar--leftend{
    position: relative;
    z-index: 2;
    flex: 1;
    text-align: left;
    margin: auto;
    padding-left: 2em;
    font-size: 8px;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: lightgrey;
    background-color: #f2f3ef;
}
.clock{
    font-weight: bold;
    margin: auto;
    margin-left: 0;
    text-align: left;

}
.navbar--inner-wrapper{
    display: flex;
    flex: 5.5;
}
.navbar--item{
    flex: 1;
    font-size: .8em;
    letter-spacing: 1px;
    height: 100%;
    text-align: center;
}
.navbar--item--inner {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #f2f3ef;
}
.navbar--item--inner:hover {
    background-color: white;
}
.navbar--item.open .navbar--item--inner{
    background-color: white;
}
.navbar--item-border{
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #f2f3ef;
    transition: .5s background-color;
}
.navbar--item.open .navbar--item-border{
    background-color: #ed583d;
}
.item--title{
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.navbar--item:hover .item--title{
    font-weight: bold;
}
.navbar--item--invisible{
    position: absolute;
    display: none;
    font-size: 1.5em;
    right: -.8em;
    top: -.4em;
}
.navbar--item:hover .navbar--item--invisible{
    display: block;
}
.navbar--item.open .navbar--item--invisible{
    display: block;

}
.navbar--dropdown-content{
    display: block;
    background-color: white;
    position: absolute;
    top:100%;
    width: 100%;
    left: 0;
    padding: 2em;
    box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    transform: translateY(-20%);
    transition:0.25s ease opacity, 0.25s ease transform;
    pointer-events: none;
}
.navbar--item.open .navbar--dropdown-content{
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
}
.do_see--container{
    position: relative;
    display: flex;
}
.do_see--featured{
    flex: 2;
    max-width: 80%;
    display: block;
    padding: 0 2em;
}
.do_see--featured-highlighted{
    display: flex;
    width: 100%;
}
.featured--highlighted-image{
    flex: 1;
    padding-bottom: 2em;
}
.featured--highlighted-header{
    text-align: left;
    padding-bottom: 1em;
    font-size: 1.25em;
    font-weight: bolder;
    text-transform: uppercase;
}
.featured--highlighted-picture{
    width: 100%;
    padding-bottom: 75%;
    background: no-repeat center/100%;
}
.featured--highlighted-text{
    flex: 2;
    display: flex;
    padding: 2em;
}
.highlighted--text-info{
    flex: 1;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}
.text--info-event{
    text-align: left;
    margin: auto;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: .75em;
    padding-bottom: 1em;
}
.text--info-wrapper{
    display: flex;
}
.info--wrapper-left_block{
    flex: 1;
    padding-right: 2em;
    border-right: 1px solid lightgrey;
}
.text--info-title{
    text-align: left;
    font-size: 1.25em;
    line-height: 125%;
    text-transform: capitalize;
}
.text--info-showtimes{
    display: flex;
    width: 100%;
    padding-top: 1em;
    padding-left: 0;
    color: lightgrey;
}
.info--showtimes-day{
    flex: 1;
    text-align: left;
    text-transform: uppercase;
    font-size: .8em;
    padding-right: 1em;
    font-weight: bolder;
}
.info--showtimes-time{
    flex: 4;
    border-left: 1px solid lightgrey;
    padding-left: 1em;
    text-align: left;
    font-size: .8em;
    font-weight: normal;
    text-transform: uppercase;
}
.info--wrapper-right_block{
    flex:1;
    display:flex;
}
.highlighted--text-more_about{
    margin:auto;
    text-align: left;
    line-height: 150%;
    padding-left: 2em;
}
.do_see--featured-gallery{
    display: flex;
    width: 100%;
    padding-bottom: 2em;
}
.featured-gallery-content{
    flex: 1;
    padding: 1em;
    transform: scale(.9);   
}
.featured-gallery-content:first-child{
    padding-left: 0;
}
.featured-gallery-content:hover{
    transform: scale(1)
}
.featured-gallery-content .featured--highlighted-text{
    display: none;
}
.featured-gallery-content .featured--highlighted-header{
    display: none;
}
.do_see--links{
    flex: 1;
    display: flex;
}
.do_see--links-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    text-align: left;
    border-left: 2px solid lightgray;
}
.links--content-header{
    text-align: left;
    padding: 1em;
    font-weight: bolder;
    padding-left: .5em;
    font-size: 1.25em;
    text-transform: uppercase;
}
.links--content-display{
    flex: 1;
    text-decoration: none;
    color: black;
    padding: 1em;
    white-space: nowrap;
    text-transform: uppercase;
}
.do_see--links-filler{
    flex: 1;
}
.button--calendar{
    position: absolute;
    color: white;
    background-color: #ed583d;
    border: none;
    padding: 1.25em;
    border-radius: 25px;
    left: 4em;
    bottom: 0;
    width: 15em;
    transform: translateY(50%);
    text-transform: uppercase;
    box-shadow: 2px 2px 3em 0 grey;
}
.button_copy{
    font-size: .8em;
    letter-spacing: 1px;
}
.dropdown--gallery{
    display: flex;
    padding-top: 1.25em;
}
.dropdown--gallery-content{
    flex: 1;
    padding: 1em;
    padding-bottom: 0;
}
.dropdown--gallery-picture{
    width: 100%;
    padding-bottom: 75%;
    background: no-repeat center/100%;
}
.dropdown--gallery-title{
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 2em;
}
.navbar--middle{
    flex: 1.5;
    text-align: center;
    margin: auto;
    z-index: 2;
}
.navbar--middle-logo{
    transform: translateY(20%);
    z-index: 5;
}
.logo{
    height: auto;
    width: auto;
    border-radius: 5px;
    max-width: 90%;
}
.give_join-container{
    display: flex;
}
.give_join--donate_join{
    flex: 2;
    display: flex;
}
.give_join--donate_join-children{
    flex: 1;
    position: relative;
    padding: 0 2em;
    margin: auto;
}
.give_join--button{
    position: absolute;
    color: white;
    background-color: #ed583d;
    border: none;
    padding: 1em;
    border-radius: 25px;
    left: 4em;
    width: 40%;
    outline: none;
    bottom: 0;
    transform: translateY(50%);
    text-transform: uppercase;
    box-shadow: 1px 1px 2em 0 grey;
}
.give_join--button-copy{
    font-size: 1em;
    letter-spacing: 1px;
}

.give_join--corp_volunteers{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 0;
    padding-bottom: 1em;
    box-sizing: border-box;
}
.give_join--corp_volunteers-picture{
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    border-left: 1px solid lightgrey;
    text-align: center;
    box-sizing: border-box;
}
.give_join--headers{
    flex: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
}
.give_join--headers_bottom{
    flex: 1;
    padding-top: 1em;
    padding-bottom: 0em;
    text-transform: uppercase;
}
.navbar--rightend{
    flex: 1;
    text-align: center;
    margin: auto;
    background-color: #f2f3ef;
}
.navbar--item.search{
    display: flex;
}
.navbar--item.search .navbar--item--inner {
    background-color: #f2f3ef;
    height: initial;
    width: initial;
    margin: auto;
    margin-right: 1rem;

}
.search_wrapper--border{
    border-left: 3px solid #ed583d; 
}
.search_icon{
    margin: auto;
    margin-right: 1em;
}
.search_image{
    width: 4em;
}
.dropdown--content-search_wrapper{
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.dropdown--searchbar-box{
    box-sizing: border-box;
    display: flex;
    border-radius: 25px;
    width: 100%;
    background-color: white;
    align-items: center;
}
.searchbar--box-img{
    width: 1.5em;
    margin-left: 1em;
}
.search_input{
    flex: 2;
    width: 100%;
    height: 5%;
    background: transparent;
    border: none;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 1em;
}
.search_input:focus{
    outline: none;
 }
.navbar--cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f2f3ef;
    z-index: 1;
}
.dropdown--close{
    position: absolute;
    top: -1;
    right: 0;
    width: 50%;
}
.dropdown_x{
    width: 2em;
    position: absolute;
    right: 2em;
    top: 1.5em;
}
.picture{
    display: flex;
    left: 2em;
    max-width: 100%;
    border-radius: 10px;
}

/*MOBILE specific*/
.mobile--top{
    display: flex;
    flex-direction: column;
    flex: .8;
    background-color: transparent;
}
.navbar--menu{
        display: none;
}
.mobile--dropdown{
    display: none;
}
.mobile_back_arrow{
    width: 2em;
    position: absolute;
    left: 2em;
    top: 1.5em;
    opacity: 0;
    transition: .5s ease-in opacity;
}
.newfields_mobile{
    max-width: 75%;
    opacity: 1;
    transition: .25s ease opacity;
}
.newfields_mobile.open{
    opacity: 0;
}
.dropdown--header{
    color: crimson;
    white-space: nowrap;
    opacity: 0;
    transition: .5s ease opacity;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar--inner-wrapper.open .dropdown--header{
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.navbar--inner-wrapper.open .mobile_back_arrow{
    opacity: 1;
    z-index: 2;
}
.mobile--top--title_container{
    flex: 1;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    font-size: 1.25em;
    background-color: white;
}
.mobile--top-back_button{
    flex: 1;
}
.mobile--items-container{
    display: flex;
    flex: 1;
    padding: 0 2em;
    font-size: 1em;
    white-space: nowrap;
    background-color: #f2f3ef;
    transition: .5s ease opacity;
    width: 100%;
    opacity: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    justify-content: center;

}
.navbar--inner-wrapper.open .mobile--items-container{
   opacity: 1;
   z-index: 2;
   flex: 1;
}
.mobile--items{
    flex: 1;
    background-color: #f2f3ef;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}
.mobile--item-title{
    flex: 1;
    font-size: .85em;
    color: lightgrey;
}
.mobile--items:active{
    background-color: lightgray;
}
.mobile--top-close{
    flex: 1;
}
.links--mobile-calendar{
    display: none;
    text-decoration: none;
    color: black;
    padding: 1em;
    white-space: nowrap;
    text-transform: uppercase;
}
.mobile--shadow{
    display: flex;
}

.mobile_x{
    max-width: 5%;
    position: absolute;
    right: 2em;
    top: 1.5em;
}
.mobile--bottom{
    display: none;
}
.hamburger{
    opacity: 1;
    z-index: 1;
    border-radius: 50%;
    background:#f2f3ef;
    position:absolute;
    top:1em;
    line-height:45px;
    padding: 0 .5em;
    color:#999;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
}


@media(max-width: 450px){
    body{
        font-size: 1em;
    }
    .navbar--container{
        position: initial;
        background: none;
    }.navbar--menu{
        display: block;
    }
    .navbar--leftend{
        background-color: transparent;
    }
    .clock{
        color: white;
    }
    .navbar--inner-wrapper{
       position: fixed;
       flex-direction: column;
       height: 100%;
       width: 100%;
       z-index: 5;
       transform: translateY(-100%);
       transition: 0.5s ease transform;
       background-color: transparent;
    }
    .open .navbar--inner-wrapper{
        transform: translateY(0%);
    }
    .mobile--dropdown{
        background-color: #f2f3ef;
        display: flex;
        flex: 1.25;
        z-index: 4;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
   
    .mobile--dropdown-header{
        text-align: center;
        position: relative;
        width: 100%;
        display: flex;
        flex: 1;
        box-sizing: border-box;
        background-color: white;
        text-transform: uppercase;
    }
    .dropdown--headers-logo{
        flex: 1.5;
        font-size: 1.5em;
        margin: auto;
        position: relative;
    }
     .dropdown--header-holder{
        flex: 1;
    }
    .dropdown--header-x{
        flex: 1;
    }
    .mobile--dropdown-searchbar{
        text-align: left;
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 2em;
        opacity: 1;
        z-index: 2;
        position: relative;
    }
    .navbar--inner-wrapper.open .mobile--dropdown-searchbar{
        z-index: 0;
    }
    .dropdown--searchbar-box{
        box-sizing: border-box;
        display: flex;
        border-radius: 25px;
        width: 100%;
        background-color: white;
        align-items: center;
    }
    .searchbar--box-img{
        width: 1.5em;
        margin-left: 1em;
    }
    .search_input{
        flex: 2;
        width: 100%;
        height: 5%;
        background: transparent;
        border: none;
        overflow: hidden;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-left: 1em;
    }
    .search_input:focus{
        outline: none;
    }
    .navbar--item{
        display: flex;
        height: auto;
        padding: 0 2em;
        background: #f2f3ef;
        border-bottom: 2px solid white;
    }
    .navbar--item:active{
        background:lightgray;
    }
    .navbar--cover{
        display: none;
    }
   .navbar--item--inner{
        height: initial;
        background-color: transparent;
    }
    .navbar--item.open .navbar--item--inner{
        background-color: transparent;
    }
    .navbar--item-border{
        display: none;
    }
    .item--title{
        font-size: 1.5em;
    }
    .navbar--item:hover .item--title{
        font-weight: normal;
    }
    .navbar--item.open .item--title{
        font-weight: normal;
    }
    .navbar--dropdown-content{
        transform: translateX(100%);
        padding: 0;
        background-color: grey;
        height: 100%;
        z-index: 3;
        opacity: 1;
        top: 0; 
    }
    .navbar--item.open .navbar--dropdown-content{
        position: absolute;
        height: 100%;
        transform: translateX(0);   
    }
    .do_see--container{
        flex-direction: column;
        height: 100%;
    }
    .do_see--featured{
        display: none;
    }
    .do_see--links{
        background-color: #f2f3ef;
        flex: 3;
        height: 100%;
        padding: 1em;
        padding-top: 0;
    }
    .do_see--links-content{
        font-size: 1.25em;
        padding: 0;
        border: none;
        width: 100%;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .links--content-header{
        display: none;
    }
    .links--mobile-calendar{
        display: flex;
        flex: 1;
        box-sizing: border-box;
        border: 1px solid #f2f3ef;
        align-items: center;
        justify-content: center;
    }
    .links--content-display {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid #f2f3ef;
    }
    .do_see--links-filler{
        display: none;
    }
    .button--calendar{
        display: none;
    }
    .navbar--shop_eat-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .dropdown--gallery{
        width: 100%;
        flex: 3;
        padding: 1em;
        padding-top: 0;
        box-sizing: border-box;
        background-color: #f2f3ef;
        flex-direction: column;
    }
    .dropdown--gallery-content{
        border: 1px solid #f2f3ef;
        background-color: white;
        text-align: center;
        display: flex;
        padding: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .dropdown--gallery-title{
        flex: 1;
        font-size: 1.5em;
        padding: 0;
        margin: auto;
    }
    .navbar--middle{
        display: none;
    }
     .give_join-container{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #f2f3ef;
    }
    .mobile--shadow{
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        flex: 3;
        margin: 1em;
        margin-top: 0;
    }
    .give_join--donate_join{
        display: flex;
        flex-direction: column;
        flex: 1.5;
        background-color: #f2f3ef;
    }
    .give_join--donate_join-children{
        flex: 1;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        box-sizing: border-box;
        border: 1px solid #f2f3ef;
        background-color: white;
    }
    .give_join--button{
        position: initial;
        color: initial;
        background-color: initial;
        border: none;
        border-radius: none;
        width: 100%;
        transform: none;
        box-shadow: none;
        font-size: 1.5em;
    }
    .give_join--corp_volunteers{
        flex: 1.5;
        padding: 0;
        box-sizing: border-box;
        background-color: #f2f3ef;
    }
    .give_join--mobile{
        flex: 1;
        display: flex;
        text-align: center;
        box-sizing: border-box;
        background-color: #f2f3ef;    
    }
    .give_join--corp_volunteers-picture{
        display: flex;
        flex: 1;
        border: 1px solid #f2f3ef;
        background-color: white;
    }
    .give_join--headers{
        margin: auto;
        font-size: 1.5em;
    }
    .hidden_text{
        display: none;
    }
    .give_join--headers_bottom{
        margin: auto;
        font-size: 1.5em;
    }
    .navbar--educate_learn{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .navbar--rightend{
        background-color: transparent;
    }
    .navbar--item.search{
        display: none;
    }
    .search_image{
        display: none;
    }
    .mobile--bottom{
        display: flex;
        flex: .5;
        width: 100%;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .mobile--bottom-items{
        flex: 1;
        display: flex;
        background-color: white
        ;
    }
    .mobile--bottom-items:active{
        background-color:lightgray;
    }
    .bottom--items-text{
        margin: auto;
        font-size: .8em;
        color: lightgray;
    }
    .dropdown--close{
        display: none;
    }
    .picture{
        display: none;
    }
}
/*SIZE changes*/
@media (min-width: 451px){
    .mobile--top{
        display: none;
    }
    .mobile_x{
        display: none;
    }
}
@media (min-width: 450px) and (max-width: 500px) {
    .navbar--container{
        font-size: .75vw;
    }
}
@media (min-width:451px) and (max-width: 768px){
    .navbar--middle-logo{
        transform: translateY(20%);
    }
    .logo{
        height: 90%;
        width: 100%;
    }
    .give_join--button{
        padding: .5em;
        left: 2.5em;
        transform: translateY(50%);
    }
    .give_join--button-copy{
        font-size: .75em;
    }
    .button--calendar{
        padding: .75em;
        left: 2em;
        width: 11em;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .navbar--middle-logo{
        transform: translateY(20%);
    }
    .logo{
        height: 100%;
        width: 100%;
    }
    .give_join--button{
        left: 2.75em;
        padding: .5em;
        transform: translateY(50%);
    }
    .search_image{
        top: .5em;
        width: 5em;
    }
    .search_image{
        top: -.2em;
        width: 5em;
    }
}
@media (min-width: 769px) {
        #map-container {
        height: 600px;
    }
}